.year-selection {
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 5vw;
	float:left;
}

html,body {
	font-family: 'Poppins', sans-serif;
}

.stadium-selection {
	margin-top: 1%;
	margin-bottom: 1%;
	margin-right: 5vw;
	float: right;
}

#map { 
	clear: both;
 	height: 35vw;
 	margin-right: 5vw;
   	margin-left: 5vw;
   	margin-bottom: 1vw;
}

li {
	text-align: center;
	padding-top: 0.5vw;
	padding-bottom: 0.5vw;
}

.list-years {
	cursor: pointer;
}

.list-years:hover {
	cursor: pointer;
	background-color: #e6dbd7;
}

.city-knowledge {
	margin-left: 25vw;
	margin-top: 1%;
	margin-bottom: 1%;
	float: left;
}

#adding-details {
	margin-bottom: 2vw;
	margin-top: 0.1%;
	margin-left: 43%;
	float:left;
}

.input-elements {
	border: none;
	margin-top:2vw;
	width: 100%;
	height: 2vw;
}

/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}

/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}